body, html {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
}
.container {
  width: 1170px;
  margin: 0 auto;
  font-family: Open Sans;
}
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: #00A4E5;
  color: #fff;
  padding: 11px 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  border-radius: 5px;
  transition: .2s ease;
  text-decoration: none;
}
.btn:hover {
  background: #0074a1;
}